@import "tailwindcss";

:root {
  /* Light Theme */
  --background: #ffffff;
  --foreground: #09090b;

  --card: #ffffff;
  --card-foreground: #09090b;

  --border: #e5e7eb;

  --muted: #f3f4f6;
  --muted-foreground: #6b7280;

  --primary: #4f46e5;
  --primary-foreground: #ffffff;

  --input: #ffffff;

  --ring: #4f46e5;

  --success: #16a34a;
  --warning: #f59e0b;
  --destructive: #dc2626;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;

  --card: #111827;
  --card-foreground: #fafafa;

  --border: #27272a;

  --muted: #18181b;
  --muted-foreground: #a1a1aa;

  --primary: #4f46e5;
  --primary-foreground: #ffffff;

  --input: #111827;

  --ring: #6366f1;

  --success: #22c55e;
  --warning: #f59e0b;
  --destructive: #ef4444;
}


@theme inline {
 --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-border: var(--border);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-destructive: var(--destructive);

  --font-sans: var(--font-inter-tight);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-tight), sans-serif;
}
